@charset "UTF-8";
	body {
	font-family:  Helvetica Neue, Helvetica, Arial, sans-serif;
	background-color: #413E4A;
	color: #F7E4BE;
}
	h1 {
		background-color: #413E4A;
		color: #F0B49E;
	}
	h2 {
		background-color: #413E4A;
		color: #F0B49E;
	}
	.help li {
		background-color: #413E4A;
		color: #F7E4BE;
		box-sizing: border-box;
		box-sizing: inherit;
		padding: 1em;
	}
	ul li {
		color: #F7E4BE;
	}
	#tabs {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		box-sizing: inherit;
		list-style-type: none;
	}
	#tabs .help {
		display: inline-block;
		margin-right: 20px;
	}
	.indent {
		text-indent: 2.0em;
	}
	.tvimage {
		display: table-cell;
		height: 300px;
		text-align: center;
		width: 600px;
		vertical-align: middle;
	}
	.center {
		display: block;
		margin-left: auto;
		margin-right: auto;
		width: 50%
	}	
	.photoimg {
		border: 5px solid #555;
	}
	.row {
		display: flex;
		flex-wrap: wrap;
		padding: 0 4px;
	}
	.column {
		flex: 50%;
		padding: 0 4px;
	}	
	.column img {
		margin-top: 8px;
		vertical-align: middle;
	}	
	.dogimg {
		float: left;
		border: 1px;
		padding: 10px;
	}
